*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}
.video-bg{
    z-index: -1;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
}
img{
    width: 200px;
    height: 100px;
}